body {
    background-color: #527cff;
}


/********************
Styling for the tutorial modal box
*********************/
#modal {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

#modal-textbox {
    background-color: #abbaec;
    height: 350px;
    width: 550px;
    border-radius: 2px;
    margin: 200px auto;
}