@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');

body {
    background-color: #527cff;
}


/********************
Tutorial Modal - Header
*********************/
#modal {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

#modal-textbox {
    font-family: "Klee One", fantasy;
    background-color: #abbaec;
    height: 350px;
    width: 550px;
    border-radius: 15px;
    border: 2px solid #21217a;
    margin: 200px auto;
    padding: 3%;
    line-height: 120%;
}

#modal-header {
    margin-top: 0;
    height: 40px;
    text-align: center;
    border-bottom: 2px solid;
    /*Border gradients sourced from: https://stackoverflow.com/questions/2717127/gradient-borders */
    border-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
    border-image-slice: 1;
}

#modal-footer {
    margin-top: 10px;
    width: 550px;
    height: 100px;
    border-top: 2px solid;
    border-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
    border-image-slice: 1;
}

img.modal-p1, img.modal-p3 {
    display: block;
}

.img-container {
    display: flex;
    align-items: center;
}

img.modal-p1, img.modal-p2, img.modal-p3 {
    width: 25%;
    margin: 10px auto;
}

.p3 img, .p1 img {
    margin-top: -15px;
}

.p2, .p3 {
    display: none;
}

.p1, .p2, .p3 {
    height: 220px;
}

.modal-buttons, #modalBtn {
    font-family: "Klee One", fantasy;
    margin-top: 10px;
    padding: 15px;
    background-color: #21217a;
    color: floralwhite;
    border-radius: 10px;
    border: 3px solid #254ec4;
}

#close {
    float: left;
}

#prev, #next {
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}

#prev {
    display: none;
}

/*****************************
Main Body - Question Area
 *****************************/

#html {
    overflow-x: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question-area {
    width: 80%;
    height: 533px;
    margin-top: -50px;
    margin-bottom: 75px;
}


#main-body {
    border: 4px solid #254ec4;
    background-color: #21217a;
    border-radius: 15px;
    width: 1150px;
    height: 450px;
}

.question-text {
    font-family: "Klee One", fantasy;
    color: white;
    font-size: 20px;
    padding: 20px;
}

/*****************************
 Main Body - Choices
 *****************************/

#choice-area {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    height: 250px;
    flex-direction: column;
}

.choice-buttons {
    display: flex;
    font-family: "Klee One", fantasy;
    font-size: 26px;
    width: 578px;
    height: 115px;
    word-wrap: break-word;
    margin-top: 10px;
    padding: 10px;
    background-color: #21217a;
    color: floralwhite;
    border-radius: 10px;
    border: 3px solid #254ec4;
    justify-content: center;
    align-items: center;
}

/*****************************
 Main Body - Timer, Score, Round
 *****************************/

#timer {
    border: 4px solid #254ec4;
    background-color: #21217a;
    border-radius: 15px;
    width: 140px;
    height: 90px;
    margin: 0 auto 35px;
    color: white;
    text-align: center;
}

#timer-number {
    height: 65px;
    font-size: 38px;
}

#timer, #score, #round {
    font-family: "Klee One", fantasy;
    font-weight: 600;
}

#score, #round {
    position: fixed;
    font-size: 24px;
}

#score {
    left: 992px;
    top: 30px;
}

#round {
    left: 347px;
    top: 30px;
}

/*****************************
 Animations
 *****************************/